
.login-form-div {
  color: #fff;
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-top: 150px;
}

.login-form-div h1 {
  font-size: 47px;
  font-weight: 100;
}

.login-form-div h2 {
  margin-top: 40px;
  font-size: 24px;
  font-weight: 100;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  display: block;
  width: 250px;
  height: 40px;
  margin: 0 auto;
}

.login-form-top-label {
  margin-top: 25px;
}

.login-form-btm-label {
  margin-top: 10px;
  margin-bottom: 10px;
}

.login-form button {
  width: 256px;
  height: 40px;
  display: block;
  margin: auto;
  background-color: #224099;
  border-radius: 5px;
  color: white;
}

.login-form input {
  text-align: center;
}

.login-form button:hover {
  cursor: pointer;
}

::-webkit-input-placeholder {
   text-align: center;
}
