// Place all the styles related to the api/searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search {
  width: 300px;
  height: 35px;
  position: absolute;
  border-radius: 50px;
  letter-spacing: 2px;
  text-align: center;
  letter-spacing: 2px;
  background: lightblue;
}

.search-index-item-div {
  position:absolute;
  margin-top: 40px;
  width: 305px;
  background: lightgray;
  border-radius: 10px;
  z-index: 1;
}

.search-index-item {
  position: relative;
  z-index: 1;
  text-align: center;
  margin-top: 10px;
}

.search-icon {
  position: absolute;
  z-index: 10;
  top: 30px;
  left: 16px;
}

.suggestions {
  position: relative;
  z-index: 1;
  text-align: center;
}

.suggestions h3 {
  margin-top: 10px;
}

.search-index-item:hover {
  background: lightblue;
  border-radius: 50px;
  cursor: pointer;
}

.no-results h3 {
  text-align: center;
  margin-top: 10px;
}

.faker:hover {
  background: lightblue;
  border-radius: 50px;
  cursor: pointer;
}

.faker1 {
  margin-top: 15px;
  margin-bottom: 5px;
}

.faker3 {
  margin-top: 5px;
  margin-bottom: 5px;
}
