// Place all the styles related to the api/stations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// background:url(asset-path('play_button.png'));

.radio-image {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
}

.album-image {
  display: inline-block;
  height: 100%;
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.station-index-item {
  display: flex;
  flex-direction: column;
  margin: 15px 70px 15px 40px;
}

.station-name-link {
  text-decoration: none;
  color: white;
}

.station-index {
  display: flex;
  flex-wrap: wrap;;
  flex-direction: row;
  padding-left: 90px;
  padding-top: 80px;
}

.station-name {
  text-decoration: none;
  text-align: center;
  padding-top: 10px;
  position: relative;
}

.station-name-link span:hover {
  text-decoration: underline;
}

// Show Station CSS

.show-station-full-div {
  display: flex;
  // margin-top: 100px;
  // margin-left: 50px;
  background-repeat: no-repeat;
  height: 100%;
  padding-bottom: 270px;
  padding-top: 100px;
  background-size: 100%;
  // background-color: #0c5beb;
  background-color: #3c456c;
  background-blend-mode: overlay;
}

.station-index-div {
  // display: flex;
  // margin-top: 100px;
  // margin-left: 50px;
  height: 100%;
  padding-bottom: 220px;
  background-size: 100%;
  // background-color: #0c5beb;
  // background-image: linear-gradient(180deg,#00a0ee,#386aff 60%);
}

.station-relative-name {
  position: relative;
}

.delete-span {
  position: absolute;
  right: 5px;
}

.delete {
  color: white;
}

.delete:hover {
  color: #ff6666;
  cursor: pointer;
}

.show-station-index-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 60px;
  padding-bottom: 10px;
}

.for-hover {
  height: 100%;
  position: relative;
  // transition: width 2s;
}

.for-hover:hover {
  opacity: 0.8;
  // z-index: -2;
}

.show-radio-image {
  height: 100%;
  // padding-bottom: 10px;
  position: absolute;
  left: 0;
  margin-left: 50px;
  // height: 50px;

  width: 200px;
  border: 1px solid lightskyblue;
  border-radius: 5px;
  background: cornflowerblue;
  transition: width 0.5s;
}

.show-radio-image:hover {
  width: 270px;
}

.show-album-image {
  // width: 200px;
  // height: 100%;
  border-radius: 5px;

  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
}

.show-station-name {
  color: white;
  position: absolute;
  height: 100%;
  width: 75%;
  left: 50px;
  word-wrap: break-word;
  // margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.span-station-name {
  // display: inline-block;
  width: 90%;
}

.show-station-div {
  margin-left: auto;
  margin-right: auto;
}

.big-album-image {
  display: inline-block;
  width: 375px;
  height: 375px;
  border-radius: 5px;
  border: 1px solid cornflowerblue;
  box-shadow: 10px 10px #8888;
}

.image-to-stations:hover {
  cursor:pointer;
}

.show-song-name {
  text-align: center;
  color: white;
  margin-top: 10px;
}

// .song-name-clicker:hover {
//   cursor: pointer;
//   text-decoration: underline;
// }

.artist-name-clicker:hover {
  cursor: pointer;
  text-decoration: underline;
}

// .album-name-clicker:hover {
//   cursor: pointer;
//   text-decoration: underline;
// }

.show-artist-name {
  text-align: center;
  color: white;
}

.show-album-name {
  text-align: center;
  color: white;
}

.album-image:hover {
  opacity: 0.5;
}

.big-album-image:hover {
  opacity: 0.8;
}

.awesome-loader {

}

.sweet-loading {

  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 150px;
}

.css-1btm2z0 {
  margin-left:auto;
  margin-right:auto;
}

.back-to-stations {
  text-align: center;
  width: 150px;
  background: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.back-to-stations:hover {
  cursor: pointer;
  background: gray;
}

.page-not-found {
  text-align: center;
  padding-top: 20px;
}
