// Place all the styles related to the api/stations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// background:url(asset-path('play_button.png'));

.radio-image {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
}

.album-image {
  display: inline-block;
  height: 100%;
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.station-index-item {
  display: flex;
  flex-direction: column;
  margin: 15px 70px 15px 40px;
}

.station-name-link {
  text-decoration: none;
  color: black;
}

.station-index {
  display: flex;
  flex-wrap: wrap;;
  flex-direction: row;
  padding-left: 90px;
  padding-top: 80px;
}

.station-name {
  text-decoration: none;
  text-align: center;
  padding-top: 10px;
}

.station-name-link span:hover {
  text-decoration: underline;
}

// Show Station CSS

.show-station-full-div {
  display: flex;
  margin-top: 100px;
  // margin-left: 50px;
}

.show-station-index-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 50px;
  padding-bottom: 10px;
}

.for-hover {
  height: 100%;
  position: relative;
}

.for-hover:hover {
  opacity: 0.5;
}

.show-radio-image {
  height: 100%;
  padding-bottom: 10px;
  position: absolute;
  left: 0;
  margin-left: 50px;
}

.show-album-image {
  width: 200px;
  height: 100%;
  border-radius: 5px;
}

.show-station-name {
  color: white;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 38%);
}

.show-station-div {
  margin-left: auto;
  margin-right: auto;
}

.big-album-image {
  display: inline-block;
  width: 300px;
  height: 300px;
  border-radius: 5px;
}

.show-song-name {
  text-align: center;
}

.show-artist-name {
  text-align: center;
}

.show-album-name {
  text-align: center;
}

.album-image:hover {
  opacity: 0.5;
}

.big-album-image:hover {
  opacity: 0.5;
}

.sweet-loading {
  margin-left: 40%;
  margin-top: 10%;
}

// .body::before {
//   opacity: 0.5;
// }
