// Place all the styles related to the api/stations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.station-index-item {
  display: flex;
  flex-direction: column;
  margin: 15px 40px 15px 40px;
}

.station-index {
  display: flex;
  flex-wrap: wrap;;
  flex-direction: row;
  padding-left: 90px;
  padding-top: 80px;
}

.radio-image {
  position: relative;
}

.album-image {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  z-index: 0;
}

.album-image:hover {
  opacity: 0.5;
  // background:url(asset-path('play_button.png'));
}

.station-name {
  text-decoration: none;
  color: black;
  text-align: center;
  padding-top: 10px;
}

.station-name:hover {
  text-decoration: underline;
}

.show-album-image {
  display: inline-block;
  width: 200px;
  height: 50px;
  border-radius: 5px;
}

.show-station-full-div {
  display: flex;
  margin-top: 100px;
  margin-left: 50px;
}

.show-station-index-item {
  position: relative;
  text-align: center;
}

.show-station-name {
  text-decoration: none;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.show-radio-image {
  text-decoration: none;
}

.show-station-div {
  margin-left: 170px;
}

.big-album-image {
  display: inline-block;
  width: 300px;
  height: 300px;
  border-radius: 5px;
}


.show-station-index-div {
  &:hover {
    margin-right: 100px;
  }
}

.show-album-image:hover {
  opacity: 0.5;
}
