html, body, div, span, h1, h2, h3, p, img, strong, center, ol, ul, li, nav, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Avenir Next";
  vertical-align: inherit;
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

#root {
  height: 100%;
  position: relative;
}

#container {
  min-height: 100%;
  position: relative;
}

.media-player {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
	text-align: center;
	background-color: rgba(0,0,0,.1);
}

.react-player {
  position: absolute;
  display: inline-block;
  bottom: 0;
  width: 100%;
  height: 60px;
}
